* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.navbar{
    position: absolute;
    width: 100%;
}


/* Helpers */ 
.line{
    margin: 20px 10px 40px 40px;
    border-radius: 10px;
    width: 40%;
    height: 2px;
}
.right{
    margin: 20px 10px 40px 55%
}
/* First Section Style */



.image {
    position: absolute;
    width: 100%;
    height: 600px;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    background-image: url(./assets/frontcover.jpg);
    background-size: cover;
    background-attachment: fixed;
}


.particles-js {
    width: 100%;
    position: absolute;
    height: 600px;
}

.text {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swscrc {

    z-index: 1;
    color: white;
    text-shadow: 10px 10px 20px black;
    font-family: 'Silkscreen', cursive;
    font-size: 70px;
    border-radius: 10px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    box-shadow: 1px solid black;
}

/* Midlle Section */

.parallax{
    left: 0px;
    margin: 0;
    padding: 0;
    height: 250px;
    width: 100%;
    position: absolute;
    background-image: url(./assets/second_secton_img.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

/* Second Section-- Who are we? */

.olayerContainer {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.slayersContainer {
    margin: 20px;
    padding: 40px 15px 20px 5px;
    max-width: 1400px;

}

.whoContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.whoText {
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}



/* Third Section-- What are our goals */
.goals{
    margin-top: 350px;
}

.goalsSection{
    margin-left: 50px;
}
.go{
    font-size: 30px;
    font-weight: 200;
    color: blue;
}
.buildingThings{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
#buildingImage{
    height: 400px;
    display: block;
    float: right;
}

/*Members section */

.members{
    display: flex;
    justify-content: center;
    align-items: center;
}

.members > div{
    margin: 30px;
}

.memberImage{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: blue;
    margin: 5px;
}
.postContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

/* Footer */

footer{
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    align-content: center;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    height: 200px;
    background: black;
    color: white;
    margin-top: 10px;
}

.socialMedia{
    display: flex;
}

.headingFooter{
    color: orangered;
    font-family: Poppins;
    font-size: 32px;
}


.addInf{
    flex-direction: column;
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
}

pre > a{
    text-decoration: none;
    color: white;
}