* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Helpers */

.heading{
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    font-weight: 700;
    color: orangered;
    margin: 20px 10px 0 10px;
}
.heading:hover{
    animation: pulse;
    animation-duration: 0.5s;
}
.line{
    margin: 20px 10px 40px 40px;
    border-radius: 10px;
    width: 40%;
    height: 2px;
}
.right{
    margin: 20px 10px 40px 55%
}

.backBlue{
    background-color: blue;
}
.backOrange{
    background-color: orangered;
}
.black{
    color: black;
}
.orange{
    color: orangered;
}
/* First Section Style */

.navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
    position: absolute;
    z-index: 1;
    padding: 10px;
}




.resetButton {
    width: 60px;
    margin-right: 10px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    cursor: pointer;
    height: 40px;
    border-radius: 50px;
    padding: 15px;
    background-color: rgb(5, 5, 59);
    color: white;
    margin-right: 30px;
    text-decoration: none;
    font-family: 'Silkscreen', cursive;
}

.otherElements {
    display: inline;
    margin-right: 20px;
    float: right;
}


.image {
    position: absolute;
    width: 100%;
    height: 600px;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    background-image: url(./assets/frontcover.jpg);
    background-size: cover;
    background-attachment: fixed;
}


.particles-js {
    width: 100%;
    position: absolute;
    height: 600px;
}

.text {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swscrc {

    z-index: 1;
    color: white;
    text-shadow: 10px 10px 20px black;
    font-family: 'Silkscreen', cursive;
    font-size: 70px;
    border-radius: 10px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    box-shadow: 1px solid black;
}

/* Midlle Section */

.parallax{
    left: 0px;
    margin: 0;
    padding: 0;
    height: 250px;
    width: 100%;
    position: absolute;
    background-image: url(./assets/second_secton_img.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

/* Second Section-- Who are we? */

.olayerContainer {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.slayersContainer {
    margin: 20px;
    padding: 40px 15px 20px 5px;
    max-width: 1400px;

}

.whoContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.whoText {
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}



/* Third Section-- What are our goals */
.goals{
    margin-top: 350px;
}

.goalsSection{
    margin-left: 50px;
}
.go{
    font-size: 30px;
    font-weight: 200;
    color: blue;
}
.buildingThings{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
#buildingImage{
    height: 400px;
    display: block;
    float: right;
}
/* Footer */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background: black;
    color: white;
    margin-top: 10px;
    padding: 30px;
}
